@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

/* fondo */
body {
  background: radial-gradient(circle, rgb(54, 53, 53) 0%, rgb(63, 61, 61) 25%, rgb(66, 64, 64) 75%, rgb(26, 25, 25) 100%);
  display: flex;
  flex-direction: column;
}

/* Navbar */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .logo {
  height: 200px;
  width: 400px;
}
.menu .button {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.menu .boton-general {
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(124, 124, 116);
  box-shadow: 0 0 25px rgb(163, 162, 160);
}
.menu .boton-general:hover {
  box-shadow: 0 0 5px rgb(190, 120, 27), 0 0 25px rgb(209, 162, 74), 0 0 50px rgb(206, 142, 45), 0 0 100px rgb(223, 133, 32);
}

/* Botones */
.boton {
  width: 200px;
  margin: 5px;
  height: 40px;
}
.boton.boton-1 {
  background-color: #cca145;
}
.boton.boton-2 {
  background-color: #645521;
}
.boton.boton-3 {
  background-color: #e7bf3c;
}
.boton.boton-4 {
  background-color: #a8520b;
}
.boton.boton-5 {
  background-color: #e69a0f;
}

/* Portada */
.portadita {
  background-image: url("../multimedia/motos.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
  text-align: center;
  justify-content: center;
}
.portadita .texto-portadita {
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.portadita .texto-portadita h1 {
  font-size: 45px;
  color: rgb(255, 255, 255);
}

/* Publicidad */
.publicidad-container {
  display: flex;
  justify-content: start;
}
.publicidad-container .publicidad {
  height: 50%;
  width: 100%;
}

/* Títulos */
.titulitos {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.titulitos h4 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/* Sección de Motos */
.section-motos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section-motos .motos p {
  color: rgb(255, 255, 255);
}
.section-motos .motos img.motos1 {
  height: 350px;
}

/* Encuesta */
h8 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cuadro-encuesta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

/* Galeria */
.container-galeria {
  display: flex;
  flex-wrap: wrap;
}
.container-galeria .foto-galeria {
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.container-galeria .foto-galeria .card-img-top {
  height: 300px;
  width: 300px;
}
.container-galeria .foto-galeria .foto {
  width: 350px;
  height: 250px;
}

/* Marcas */
.marcas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marcas-container .marcas {
  margin: 30px;
  padding: 40px;
}
.marcas-container .marc {
  font-size: 70px;
  margin: 20px;
}
.marcas-container h5 {
  color: aliceblue;
  display: flex;
  justify-content: center;
}

/* Piezas */
.label1 {
  color: white;
}

.filter {
  width: 100px;
}

.filtro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piecitas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.piecitas .item-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 20px;
  padding: 25px;
}
.piecitas .item-container .items {
  height: 200px;
  width: 200px;
}
.piecitas .item-container .button-pedir {
  margin-top: 20px;
  text-decoration: none;
  color: aliceblue;
}

/* Contacto */
.contacto-container {
  border: 2px solid rgb(240, 212, 154);
  display: flex;
}
.contacto-container .imagen-container {
  width: 50%;
  height: 100vh;
  border: 2px solid rgb(240, 212, 154);
  background-image: url(/multimedia/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}
.contacto-container .imagen-container .titulo-imagen {
  color: rgb(240, 212, 154);
  font-size: 70px;
}
.contacto-container h6 {
  font-size: 20px;
  margin-left: 20px;
  color: rgb(196, 168, 108);
}
.contacto-container .container-contacto {
  width: 50%;
  height: 100vh;
  border: 2px solid rgb(240, 212, 154);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto-container .container-contacto .cuadro-info {
  width: 90%;
  height: 75%;
  text-align: center;
}
.contacto-container .container-contacto .cuadro-info .nombre-apellido,
.contacto-container .container-contacto .cuadro-info .correo-asunto {
  margin: 20px;
  font-size: 20px;
}
.contacto-container .container-contacto .cuadro-info .mess {
  width: 300px;
  height: 200px;
}

.footer-container {
  border: 2px solid rgb(255, 255, 255);
}
.footer-container .titulo-footer {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.footer-container .zona-botones {
  display: flex;
  justify-content: center;
}
.footer-container .zona-botones .boton-footer {
  margin: 20px;
  color: rgb(255, 255, 255);
}
.footer-container .derechos-autor {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .section-motos {
    grid-template-columns: 1fr;
  }
  .menu {
    flex-direction: column;
  }
  .portadita {
    height: auto;
  }
  .footer-container .zona-botones {
    border: 2px solid rgb(255, 255, 255);
    flex-direction: column;
  }
  .piecitas {
    flex-direction: column;
  }
  .filtro-container {
    flex-direction: column;
  }
  .contacto-container {
    flex-direction: column;
    align-items: center;
  }
  .contacto-container .imagen-container,
  .contacto-container .container-contacto {
    border: none;
    flex: 1 1 100%;
    max-width: 100%;
    flex-direction: column;
  }
  .cuadro-encuesta {
    flex-direction: column;
  }
  .cuadro-info {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
