$colorprimario: rgb(255, 255, 255);
@mixin sizes ($widtch, $heigth) {
width: $widtch;
height: $heigth;
}
/* Contacto */

.contacto-container {
    border: 2px solid $colorprimario;
    display: flex;
  }
  
  .contacto-container .imagen-container {
    @include sizes(50%, 100vh);
   
    border: 2px solid $colorprimario;
    background-image: url(/multimedia/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
  }
  
  .contacto-container .titulo-imagen {
    color: $colorprimario;
    font-size: 100px;
  }
  
  .contacto-container h6 {
    font-size: 20px;
    margin-left: 20px;
  }
  
  .contacto-container .container-contacto {
    @include sizes(50%, 100vh);
    
    border: 2px solid $colorprimario;
  }
  
  .container-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cuadro-info {
    border: 1px solid $colorprimario;
    @include sizes(90%, 75%);
    text-align: center;
  }
  
  .nombre-apellido {
    margin: 20px;
    font-size: 20px;
  }
  
  .correo-asunto {
    margin: 20px;
    font-size: 20px;
  }
  
  .mess {
    @include sizes(400px, 200px);
  
  }