

/* Marcas */

.marcas-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marcas-container .marcas {
    margin: 30px;
    padding: 40px;
  }
  
  .marcas-container .marc {
    font-size: 70px;
    margin: 20px;
  }
  
  .marcas-container h5 {
    color: aliceblue;
    display: flex;
    justify-content: center;
  }
  