/* RESPONSIVE */

@media (max-width: 768px) {
  .section-motos {
    grid-template-columns: 1fr;
  }

  .menu {
    flex-direction: column;
  }

  .portadita {
    height: auto;
  }

  .footer-container {
    .zona-botones {
      border: 2px solid rgb(255, 255, 255);
      flex-direction: column;
    }
  }

  .piecitas {
    flex-direction: column;
  }

  .filtro-container {
    flex-direction: column;
  }

  .contacto-container {
    flex-direction: column;
    align-items: center;

    .imagen-container,
    .container-contacto {
      border: none;
      flex: 1 1 100%;
      max-width: 100%;
      flex-direction: column;
    }
  }

  .cuadro-encuesta {
    flex-direction: column;
  }

  .cuadro-info {
    justify-content: center;
  }
}
